@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: 'OakesGrotesk';
  src: local('OakesGrotesk'), url('./fonts/Oakes/Oakes-Grotesk-Regular.ttf') format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: 'OakesGroteskMedium';
  src: local('OakesGroteskMedium'), url('./fonts/Oakes/Oakes-Grotesk-Medium.ttf') format('truetype');
  font-weight: 600;
}

@layer base {
  html {
    @apply h-full;
  }
  body {
    @apply bg-white;
    @apply h-full;
  }
  .root {
    @apply h-full;
    @apply font-oakes;
  }
}
